*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: .5rem; 
    background-color: hsl(30, 54%, 90%);
    font-family: 'Outfit';
    color:hsl(24, 5%, 18%)
}
h1, h2{
    font-family: 'Young Serif';
    font-weight: 400;
    margin: .5em 0;
}
h2{
    color: hsl(14, 45%, 36%);
}

.container{
    background-color: white;
    max-width: 375px;
    margin: 1em auto;
    border-radius: 2em;
}
.wrapper{
    max-width: 90%;
    margin: 0 auto;
}
section{
    background-color: hsl(330, 100%, 98%);
    padding: 1em 1em 1em 2em;
    border-radius: 1em;
    margin: 1em 0;
}
section h2{
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit';
    font-weight: bold;
}
section ul{
    border: none;
}

a { 
    color: hsl(228, 45%, 44%); 
}
img {
    width:100%;
    margin-top: 2em;
    border-radius: 1em;
}

ul {
    padding: 0 0 1em 0;
    list-style-position: inside;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
li{
    margin-bottom: .6em;
}
ol{
    padding: 1.1em;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
ol li{
    padding-left: 1.3em;

}
ol > li::marker{
    color:hsl(332, 51%, 32%);
    font-weight: bold;
}
span{
    font-weight: bold;
}

table{
    width:100%;
    text-align: left;
    border-collapse: collapse; 
    margin: 1em 0;
}

tr{
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

th, td{
    padding: .7em 2em;
}
tr:last-child{
    border: none;
}
td{
    color:hsl(332, 51%, 32%);
    font-weight: bold;
}

